<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  {% if messages %}
     <div id="alert-container" >
         {% for m in messages %}
             <div class="alert alert-danger" role="alert">
                 <a href="#" class="alert-link">{{ m }}</a>
             </div>
         {% endfor %}
     </div>

     {% endif %}

     <!-- alert-messages-end -->

     <div class="container">
        <div class="row col-md-12 d-flex justify-content-center">

            <form action="../reset_password/{{token}}" method="post">
                {% csrf_token %}
                <div class="col-12 d-flex justify-content-center">
                    <h1>Reset Password</h1>
                </div>
                <div class="row ">
                    <div class="col-12 d-flex justify-content-center">
                        <input
                                      type="password"
                                      name="newpassword"
                                      id="psw"
                                      class="form-control form-manual"
                                      placeholder="Enter Password"
                                      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                      title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                                      style="width: 50%;" required>

                    </div>

                </div>
                <div class="row mt-2">
                    <div class="col-12 d-flex justify-content-center" >
                        <input type="text" name="cpassword" class="form-control form-manual" style="width: 50%;" placeholder="Enter Again to Confirm">
                    </div>
                </div>

                <div class="col-12 mt-2 d-flex justify-content-center">
                    <input type="submit" class="btn btn-success">
                </div>
            </form>
        </div>
     </div>


</body>
</html>